@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 84, 84, 0.1);
}

::-webkit-scrollbar-thumb{
  background: rgb(255, 36, 36);
  border-radius: 10px;
}

body{
  background-color: rgb(28, 28, 34);
  font-family: 'JetBrains Mono', monospace;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 247, 247);
  z-index: 120;
  transition: opacity 5s, visibility 5s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(221, 221, 221);
  border-top-color: rgb(255, 36, 36);
  box-shadow: 0 0 25px rgb(255, 36, 36);
  border-radius: 50%;
  animation: loading 0.75s ease-out infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 4vh 2vw;
  width: 96%;
  z-index: 100;
  top: 0;
}

.container{
  width: 98%;
  margin: 0 auto;
}

.logo-container{
  width: 6%;
  height: 5vh;
  transition: all 400ms ease;
}

.logo-container:hover{
  transform: rotate(1turn);
}

.logo{
  width: 100%;
  height: fit-content;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3%;
  height: 3.5vh;
  transform: rotate(3.142rad);
  opacity: .8;
}

.hamburger-menu:hover .bar1{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.hamburger-menu:hover .bar2{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.hamburger-menu:hover .bar3{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.bar1{
  width: 100%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar2{
  width: 60%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar3{
  width: 30%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.hamburger-menu.active{
  transform: rotate(90deg);
  transition: all 500ms ease-in;
}

.hamburger-menu.active .bar1{
  transform: translateY(8px) rotate(45deg);
  width: 100%;
}

.hamburger-menu.active .bar2{
  opacity: 0;
}

.hamburger-menu.active .bar3{
  transform: translateY(-8px) rotate(-45deg);
  width: 100%;
}

.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(28, 28, 34);
  transition: all .8s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
  color: rgb(255,255,255);
  z-index: 50;
}

.nav-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(255,255,255);
  list-style: none;
  background-color: rgb(28, 28, 34);
}

.nav-items li{
  font-size: 2rem;
  margin: 1.5vh auto;
  cursor: pointer;
  color: rgba(255,255,255,0.6);
  transition: all 350ms ease-out;
}

.nav-items li:hover{
  color: rgb(255, 36, 36);
  text-shadow: 2px 2px 25px rgb(255, 36, 36);
}

.nav-items a{
  text-decoration: none;
}

.nav-container.active{
  transform: translateY(0);
  visibility: visible;
}

.about-me_sec{
  margin: 20vh 0 0;
}

.intro-text{
  color: rgb(255,255,255);
  text-align: center;
  font-size: 2.5rem;
}

.sub-intro_text{
  color: rgba(255,255,255, 0.7);
  text-align: center;
  font-size: 1.1rem;
  margin: 1vh 0 0;
}

.span-me{
  color: rgba(255, 36, 36, 0.7);
  text-shadow: 0 0 15px rgba(255, 36, 36, 0.7);
}

.aboutme-container{
  display: flex;
  margin: 10vh 0 0;
}

.aboutme-writeup{
  width: 50%;
  margin: 0 0 0 8vw;
}

.aboutme-writeup h1{
  text-align: center;
  color: rgb(255,255,255);
  font-size: 2.4rem;
}

.aboutme-writeup p{
  color: rgba(255,255,255, 0.7);
  line-height: 4vh;
}

.aboutme-writeup .p-1{
  margin: 7vh 0 0;
}

.aboutme-writeup .p-2{
  margin: 8vh 0 0;
}

.aboutme-writeup .p-3{
  margin: 8vh 0 0;
}

.my-avatar{
  width: 35%;
  margin: 0 0 0 3vw;
}

.avatar{
  width: 100%;
  border-radius: 10px;
}

.myservices-sec{
  margin: 10vh 0 0;
}

.my-services h1{
  font-size: 2.4rem;
  text-align: center;
  color: rgb(255,255,255);
}

.my-services .service-span{
  margin: 0 0.7vw 0 0;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.myservices-flex{
  display: flex;
  justify-content: space-around;
  margin: 8vh 0 0;
}

.web-dev_box{
  width: 30%;
  text-align: center;
  height: 40vh;
  border-radius: 10px;
  background-color: rgba(255, 36, 36, 0.5);
}

.fa-code{
  color: rgb(255,255,255);
  font-size: 2.5rem;
  margin: 3vh 0 0;
}

.web-dev_box h4{
  font-size: 1.6rem;
  margin: 5vh 0 0;
  color: rgb(255,255,255);
}

.web-dev_box p{
  font-size: 1.1rem;
  margin: 4vh 0 0;
  color: rgba(255,255,255, 0.7);
}

.figma-box{
  width: 30%;
  text-align: center;
  height: 40vh;
  border-radius: 10px;
  background-color: rgba(255, 36, 36, 0.5);
}

.fa-figma{
  color: rgb(255,255,255);
  font-size: 2.5rem;
  margin: 3vh 0 0;
}

.figma-box h4{
  font-size: 1.6rem;
  margin: 5vh 0 0;
  color: rgb(255,255,255);
}

.figma-box p{
  font-size: 1.1rem;
  margin: 4vh 0 0;
  color: rgba(255,255,255, 0.7);
}

.deploy-box{
  width: 30%;
  text-align: center;
  height: 40vh;
  border-radius: 10px;
  background-color: rgba(255, 36, 36, 0.5);
}

.fa-rocket{
  color: rgb(255,255,255);
  font-size: 2.5rem;
  margin: 3vh 0 0;
}

.deploy-box h4{
  font-size: 1.6rem;
  margin: 5vh 0 0;
  color: rgb(255,255,255);
}

.deploy-box p{
  font-size: 1.1rem;
  margin: 4vh 0 0;
  color: rgba(255,255,255, 0.7);
}

.myskill-sec{
  margin: 20vh 0 0;
}

.my-skills h1{
  font-size: 2.4rem;
  color: rgb(255,255,255);
  text-align: center;
}

.my-skills .skill-span{
  margin: 0 0 0 0.7vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.myskill-grid{
  margin: 10vh 0 0;
  display: grid;
  height: 40vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 18vh;
}

.progress-bar{
  margin: 2vh 0 0 8vw;
  border: 1px solid rgb(48, 47, 47);
  width: 70%;
  height: 5vh;
  background-color: rgb(48, 47, 47);
  border-radius: 10px;
}

.skill-1 h5{
  color: rgb(255,255,255);
  font-size: 1.2rem;
  margin: 0 0 0 10vw;
}

.inner-bar1{
  background-color: rgba(255, 36, 36, 0.7);
  width: 90%;
  margin: 0.62vh 0 0 0.5vw;
  height: 3.5vh;
  border-radius: 10px;
}

.inner-bar1 p{
  color: rgba(255,255,255, 0.7);
  text-align: center;
  padding: 0.4vh 0;
}

.skill-2 h5{
  color: rgb(255,255,255);
  font-size: 1.2rem;
  margin: 0 0 0 10vw;
}

.inner-bar2{
  background-color: rgba(255, 36, 36, 0.7);
  width: 10%;
  margin: 0.62vh 0 0 0.5vw;
  height: 3.5vh;
  border-radius: 10px;
}

.inner-bar2 p{
  color: rgba(255,255,255, 0.7);
  text-align: center;
  padding: 0.4vh 0;
}

.skill-3 h5{
  color: rgb(255,255,255);
  font-size: 1.2rem;
  margin: 0 0 0 10vw;
}

.inner-bar3{
  background-color: rgba(255, 36, 36, 0.7);
  width: 70%;
  margin: 0.62vh 0 0 0.5vw;
  height: 3.5vh;
  border-radius: 10px;
}

.inner-bar3 p{
  color: rgba(255,255,255, 0.7);
  text-align: center;
  padding: 0.4vh 0;
}

.skill-4 h5{
  color: rgb(255,255,255);
  font-size: 1.2rem;
  margin: 0 0 0 10vw;
}

.inner-bar4{
  background-color: rgba(255, 36, 36, 0.7);
  width: 75%;
  margin: 0.62vh 0 0 0.5vw;
  height: 3.5vh;
  border-radius: 10px;
}

.inner-bar4 p{
  color: rgba(255,255,255, 0.7);
  text-align: center;
  padding: 0.4vh 0;
}

.footer{
  background-color: rgba(255, 36, 36, 0.5);
  height: 10vh;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.footer-contents h1{
  font-size: 1.2rem;
  padding: 4vh 0 0;
  font-weight: 300;
  color: rgba(255,255,255, 0.7);
}