@media(max-width: 500px){
  nav{
    margin: 4vh 3vw;
  }

  .logo-container{
    width: 17%;
  }

  .hamburger-menu{
    width: 10%;
    margin: 0 3vw 0 0;
  }

  .contact-flex{
    display: block;
  }

  .contact-sec h1{
    font-size: 1.8rem;
    text-align: center;
  }

  .contact-div{
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: fit-content;
  }

  .contact-div h2{
    text-align: center;
    font-size: 1.5rem;
  }

  .contact-form{
    display: block;
  }

  .contact-input{
    width: 100%;
    margin: 3vh auto;
  }

  .contact-text{
    width: 100%;
    height: 20vh;
    margin: 4vh auto;
  }

  .submit-btn{
    width: 50%;
    margin: 2vh 23vw;
  }

  .contact-info{
    width: 95%;
    margin: 3vh auto;
    border-radius: 5px;
  }

  .name-info{
    width: 85%;
  }

  .fa-user{
    font-size: 3rem;
    margin: 15vh 0;
  }

  .info-mini_div h1{
    margin: 14vh 27vw 0 0;
    font-size: 1.5rem;
  }
  
  .info-mini_div h2{
    margin: 0 0 0 5vw;
    font-size: 1.4rem;
  }

  .email-info{
    width: 85%;
  }

  .fa-at{
    font-size: 3rem;
    margin: -6vh 0 0 0;
  }

  .email-mini_div h1{
    margin: -6.5vh 56vw 0 0;
    font-size: 1.6rem;
    color: rgb(211, 211, 211);
  }
  
  .email-mini_div h2{
    margin: 0 0 0 2vw;
    font-size: 1.4rem;
    color: rgb(211, 211, 211);
  }
}