@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgba(13, 13, 13, 0.1);
}

::-webkit-scrollbar-thumb{
  background: rgb(227, 38, 54);
  border-radius: 10px;
}

body{
  background-color: rgb(13, 13, 13);
  font-family: 'JetBrains Mono', monospace;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  z-index: 120;
  transition: opacity 5s, visibility 5s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(211, 211, 211);
  border-top-color: rgb(227, 38, 54);
  box-shadow: 0 0 25px rgb(227, 38, 54);
  border-radius: 50%;
  animation: loading 0.75s ease-out infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 4vh 2vw;
  width: 96%;
  z-index: 100;
  top: 0;
}

.container{
  width: 98%;
  margin: 0 auto;
}

.logo-container{
  width: 6%;
  height: 5vh;
  transition: all 400ms ease;
}

.logo-container:hover{
  transform: rotate(1turn);
}

.logo{
  width: 100%;
  height: fit-content;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3%;
  height: 3.5vh;
  transform: rotate(3.142rad);
  opacity: .8;
}

.hamburger-menu:hover .bar1{
  width: 100%;
  background-color: rgb(227, 38, 54);
}

.hamburger-menu:hover .bar2{
  width: 100%;
  background-color: rgb(227, 38, 54);
}

.hamburger-menu:hover .bar3{
  width: 100%;
  background-color: rgb(227, 38, 54);
}

.bar1{
  width: 100%;
  height: 0.7vh;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar2{
  width: 60%;
  height: 0.7vh;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar3{
  width: 30%;
  height: 0.7vh;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  transition: all 500ms ease;
}

.hamburger-menu.active{
  transform: rotate(90deg);
  transition: all 500ms ease-in;
}

.hamburger-menu.active .bar1{
  transform: translateY(8px) rotate(45deg);
  width: 100%;
}

.hamburger-menu.active .bar2{
  opacity: 0;
}

.hamburger-menu.active .bar3{
  transform: translateY(-8px) rotate(-45deg);
  width: 100%;
}

.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.5);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: all .8s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
  color: rgb(211, 211, 211);
  z-index: 50;
}

.nav-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(211, 211, 211);
  list-style: none;
}

.nav-items li{
  font-size: 2rem;
  margin: 1.5vh auto;
  cursor: pointer;
  color: rgba(211, 211, 211, 0.6);
  transition: all 350ms ease-out;
}

.nav-items li:hover{
  color: rgb(227, 38, 54);
}

.nav-items a{
  text-decoration: none;
}

.nav-container.active{
  transform: translateY(0);
  visibility: visible;
}

.contact-sec{
  margin: 20vh 0;
}

.contact-sec h1{
  color: rgb(211, 211, 211);
  text-align: center;
  font-size: 2.5rem;
}

.span-me{
  color: rgb(227, 38, 54);
}

.contact-sec h3{
  text-align: center;
  font-size: 1.1rem;
  color: rgb(211, 211, 211);
  margin: 1vh 0;
}

.get-span{
  color: rgb(227, 38, 54);
}

.contact-flex{
  display: flex;
  margin: 15vh 0 0;
}

.contact-div{
  margin: 0 0 0 8vw;
  width: 50%;
  height: 50vh;
}

.contact-div h2{
  text-align: center;
  margin: 8vh 0 0;
  color: rgb(211, 211, 211);
  font-size: 2rem;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 8vh 0 0;
}

.contact-input{
  height: 6vh;
  width: 50%;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(211, 211, 211);
  padding-left: 2vw;
  font-size: 1rem;
}

.contact-text{
  width: 80%;
  height: 12vh;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(211, 211, 211);
  padding-left: 2vw;
  padding-top: 2vh;
  font-size: 1rem;
  outline: none;
  resize: none;
}

.submit-btn{
  margin: 0 15vw;
  width: 20%;
  height: 6vh;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(211, 211, 211);
  background-color: rgba(227, 38, 54, 0.7);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease-out;
}

.submit-btn:hover{
  background-color: rgb(227, 38, 54);
}

.contact-input:focus{
  border: 2px solid rgba(227, 38, 54, 0.7);
}

.contact-text:focus{
  border: 2px solid rgba(227, 38, 54, 0.7);
}

.contact-info{
  margin: 0 7vw 0 0;
  background: rgba(28, 28, 34, 0.5);
  background-image: url(Images/contact-info-banner.svg);
  background-repeat: no-repeat;
  height: 66vh;
  width: 40%;
  background-size: cover;
  background-blend-mode: darken;
}

.name-info{
  display: flex;
  width: 50%;
  margin: 20vh 5vw 0;
}

.fa-user{
  font-size: 3.5rem;
  color: rgb(255,255,255);
}

.info-mini_div h1{
  margin: 0 7vw 0 0;
  font-size: 1.6rem;
  color: rgb(211, 211, 211);
}

.info-mini_div h2{
  margin: 0 0 0 2vw;
  font-size: 1.4rem;
  color: rgb(211, 211, 211);
}

.email-info{
  display: flex;
  width: 50%;
  margin: 6vh 5vw 0;
}

.fa-at{
  font-size: 3.5rem;
  color: rgb(255,255,255);
}

.email-mini_div h1{
  margin: 0 11.8vw 0 0;
  font-size: 1.6rem;
  color: rgb(211, 211, 211);
}

.email-mini_div h2{
  margin: 0 0 0 2vw;
  font-size: 1.4rem;
  color: rgb(211, 211, 211);
}

.footer{
  background-color: rgb(227, 38, 54);
  height: 10vh;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.footer-contents h1{
  font-size: 1.2rem;
  padding: 4vh 0 0;
  font-weight: 300;
  color: rgb(211, 211, 211);
}