@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 84, 84, 0.1);
}

::-webkit-scrollbar-thumb{
  background: rgb(255, 36, 36);
  border-radius: 10px;
}

body{
  background-color: rgb(28, 28, 34);
  font-family: 'JetBrains Mono', monospace;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 247, 247);
  z-index: 120;
  transition: opacity 5s, visibility 5s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(221, 221, 221);
  border-top-color: rgb(255, 36, 36);
  box-shadow: 0 0 25px rgb(255, 36, 36);
  border-radius: 50%;
  animation: loading 0.75s ease-out infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 4vh 2vw;
  width: 96%;
  z-index: 100;
  top: 0;
}

.container{
  width: 98%;
  margin: 0 auto;
}

.logo-container{
  width: 6%;
  height: 5vh;
  transition: all 400ms ease;
}

.logo-container:hover{
  transform: rotate(1turn);
}

.logo{
  width: 100%;
  height: fit-content;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3%;
  height: 3.5vh;
  transform: rotate(3.142rad);
  opacity: .8;
}

.hamburger-menu:hover .bar1{
  width: 100%;
  background-color: rgb(80, 200, 120);
}

.hamburger-menu:hover .bar2{
  width: 100%;
  background-color: rgb(80, 200, 120);
}

.hamburger-menu:hover .bar3{
  width: 100%;
  background-color: rgb(80, 200, 120);
}

.bar1{
  width: 100%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar2{
  width: 60%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar3{
  width: 30%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.hamburger-menu.active{
  transform: rotate(90deg);
  transition: all 500ms ease-in;
}

.hamburger-menu.active .bar1{
  transform: translateY(8px) rotate(45deg);
  width: 100%;
}

.hamburger-menu.active .bar2{
  opacity: 0;
}

.hamburger-menu.active .bar3{
  transform: translateY(-8px) rotate(-45deg);
  width: 100%;
}

.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(28, 28, 34, 0.5);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: all .8s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
  color: rgb(255,255,255);
  z-index: 50;
}

.nav-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(255,255,255);
  list-style: none;
}

.nav-items li{
  font-size: 2rem;
  margin: 1.5vh auto;
  cursor: pointer;
  color: rgba(255,255,255,0.6);
  transition: all 350ms ease-out;
}

.nav-items li:hover{
  color: rgb(255, 36, 36);
  text-shadow: 2px 2px 25px rgb(255, 36, 36);
}

.nav-items a{
  text-decoration: none;
}

.nav-container.active{
  transform: translateY(0);
  visibility: visible;
}

.home-section{
  margin: 25vh 0 0;
}

.home-sec_flex{
  display: flex;
  color: white;
}

.write-up_sec{
  width: 60%;
  margin: 0 0 0 5vw;
}

.write-up_sec h1{
  font-size: 2.5rem;
  margin: 15vh 8vw 0;
  word-spacing: 0.3rem;
  width: 90%;
}

.marius{
  color: rgb(137, 207, 240);
  /* text-shadow: 0 0 25px rgb(255, 36, 36); */
}

.write-up_sec h2{
  font-size: 1.8rem;
  margin: 3vh 8vw 0;
  word-spacing: 0.3rem;
}

.auto-type{
  color: rgb(137, 207, 240);
  /* text-shadow: 0 0 25px rgb(255, 36, 36); */
}

.write-up_sec p{
  font-family: 'Times New Roman', Times, serif;
  color: rgba(255,255,255,0.8);
  width: 49%;
  font-size: 1.1rem;
  margin: 4vh 8vw 0;
  word-spacing: 0.3rem;
  line-height: 3.4vh;
  font-weight: 300;
}

.social-icons{
  width: 13%;
  display: flex;
  justify-content: space-between;
  margin: 3vh 8vw 0;
}

.fa-brands{
  color: rgba(255,255,255,0.7);
  font-size: 1.3rem;
  transition: all .2s ease;
}

.fa-brands:hover{
  color: rgb(255,255,255);
  transform: scale(1.3);
}

.contact-btn{
  width: 16%;
  height: 5.5vh;
  color: rgba(255,255,255,0.7);
  margin: 5vh 8vw 0;
  font-size: 0.9rem;
  border-radius: 25px;
  border: 1px solid rgb(80, 200, 120);
  background-color: rgb(28, 28, 34);
  cursor: pointer;
}

.contact-btn:hover{
  color: rgb(28, 28, 34);
  background-color: rgb(80, 200, 120);
}

.contact-btn a{
  text-decoration: none;
  color: inherit;
}

.fa-paper-plane{
  margin: 0 0 0 0.4vw;
}

.img-sec{
  width: 40%;
}

.home-img_container{
  width: 68%;
  margin: 0 0 0 6vw;
}

.home-img{
  width: 100%;
  box-shadow: 0 0 10px rgb(255, 36, 36);
  transition: all 0.4s ease-in-out;
}

.home-img:hover{
  box-shadow: 0 0 30px rgb(255, 36, 36);
}