*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(0,0,0);
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 4vh 2vw;
}

.logo-container{
  width: 6%;
  height: 5vh;
  transition: all .4s ease;
}

.logo-container:hover{
  transform: rotate(1turn);
}

.logo{
  width: 100%;
  height: fit-content;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3%;
  height: 3.5vh;
  transform: rotate(3.142rad);
}

.bar1{
  width: 100%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
}

.bar2{
  width: 60%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
}

.bar3{
  width: 30%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
}

