@media(max-width: 500px){
  nav{
    margin: 4vh 3vw;
  }

  .logo-container{
    width: 17%;
  }

  .hamburger-menu{
    width: 10%;
    margin: 0 3vw 0 0;
  }

  .home-sec_flex{
    flex-direction: column;
  }

  .img-sec{
    width: 100%;
    order: -1;
  }

  .home-img_container{
    width: 80%;
    margin: 0 auto;
  }

  .home-img{
    box-shadow: none;
  }
}