@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 84, 84, 0.1);
}

::-webkit-scrollbar-thumb{
  background: rgb(255, 36, 36);
  border-radius: 10px;
}

body{
  background-color: rgb(28, 28, 34);
  font-family: 'JetBrains Mono', monospace;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 247, 247);
  z-index: 120;
  transition: opacity 5s, visibility 5s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(221, 221, 221);
  border-top-color: rgb(255, 36, 36);
  box-shadow: 0 0 25px rgb(255, 36, 36);
  border-radius: 50%;
  animation: loading 0.75s ease-out infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 4vh 2vw;
  width: 96%;
  z-index: 100;
  top: 0;
}

.container{
  width: 98%;
  margin: 0 auto;
}

.logo-container{
  width: 6%;
  height: 5vh;
  transition: all 400ms ease;
}

.logo-container:hover{
  transform: rotate(1turn);
}

.logo{
  width: 100%;
  height: fit-content;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3%;
  height: 3.5vh;
  transform: rotate(3.142rad);
  opacity: .8;
}

.hamburger-menu:hover .bar1{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.hamburger-menu:hover .bar2{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.hamburger-menu:hover .bar3{
  width: 100%;
  background-color: rgb(255, 36, 36);
}

.bar1{
  width: 100%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar2{
  width: 60%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.bar3{
  width: 30%;
  height: 0.7vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: all 500ms ease;
}

.hamburger-menu.active{
  transform: rotate(90deg);
  transition: all 500ms ease-in;
}

.hamburger-menu.active .bar1{
  transform: translateY(8px) rotate(45deg);
  width: 100%;
}

.hamburger-menu.active .bar2{
  opacity: 0;
}

.hamburger-menu.active .bar3{
  transform: translateY(-8px) rotate(-45deg);
  width: 100%;
}

.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(28, 28, 34, 0.5);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: all .8s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
  color: rgb(255,255,255);
  z-index: 50;
}

.nav-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(255,255,255);
  list-style: none;
}

.nav-items li{
  font-size: 2rem;
  margin: 1.5vh auto;
  cursor: pointer;
  color: rgba(255,255,255,0.6);
  transition: all 350ms ease-out;
}

.nav-items li:hover{
  color: rgb(255, 36, 36);
  text-shadow: 2px 2px 25px rgb(255, 36, 36);
}

.nav-items a{
  text-decoration: none;
}

.nav-container.active{
  transform: translateY(0);
  visibility: visible;
}

.portfolio-sec{
  margin: 15vh 0 0;
}

.portfolio-contents h1{
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

.my-txt{
  color: rgba(255, 36, 36, 0.7);
  text-shadow: 0 0 15px rgba(255, 36, 36, 0.7);
}

.portfolio-contents h3{
  text-align: center;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 1vh 0;
}

.work-txt{
  color: rgba(255, 36, 36, 0.7);
}

.portfolio-flexed_div{
  margin: 15vh 0 0;
  height: 520vh;
}

.project-1{
  display: flex;
}

.project1-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project1-img{
  width: 100%;
}

.project1-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 41vh;
  margin: 15vh 0 0 -2vw;
}

.project1-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project1-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project1-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project1-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project1-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-2{
  display: flex;
  margin: 20vh 0 0;
}

.project2-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project2-img{
  width: 100%;
}

.project2-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 42vh;
  margin: 15vh 0 0 -2vw;
}

.project2-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project2-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project2-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project2-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project2-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-3{
  display: flex;
  margin: 20vh 0 0;
}

.project3-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project3-img{
  width: 100%;
}

.project3-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 47vh;
  margin: 15vh 0 0 -2vw;
}

.project3-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project3-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project3-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project3-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project3-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-4{
  display: flex;
  margin: 20vh 0 0;
}

.project4-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project4-img{
  width: 100%;
}

.project4-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 38.5vh;
  margin: 15vh 0 0 -2vw;
}

.project4-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project4-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project4-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project4-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project4-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-5{
  display: flex;
  margin: 20vh 0 0;
}

.project5-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project5-img{
  width: 100%;
}

.project5-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 40vh;
  margin: 15vh 0 0 -2vw;
}

.project5-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project5-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project5-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project5-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project5-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-6{
  display: flex;
  margin: 20vh 0 0;
}

.project6-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project6-img{
  width: 100%;
}

.project6-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 40vh;
  margin: 15vh 0 0 -2vw;
}

.project6-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project6-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project6-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project6-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project6-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.project-7{
  display: flex;
  margin: 20vh 0 0;
}

.project7-imgbox{
  width: 40%;
  margin: 0 0 0 12vw;
}

.project7-img{
  width: 100%;
}

.project7-writeup{
  width: 40%;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 40vh;
  margin: 15vh 0 0 -2vw;
}

.project7-writeup h1{
  font-size: 2rem;
  text-align: start;
  margin: 8vh 0 0 3vw;
  color: rgb(255, 36, 36);
  text-shadow: 0 0 15px rgb(255, 36, 36);
}

.project7-writeup p{
  color: rgba(255, 255, 255, 0.7);
  margin: 4vh 0 0 3vw;
  width: 85%;
}

.project7-btn{
  margin: 6vh 0 0 17vw;
  width: 20%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
}

.project7-btn a{
  text-decoration: none;
  color: rgba(255, 36, 36, 0.7);
  font-size: 0.8rem;
  transition: all 300ms ease-in;
}

.project7-btn:hover a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: bold;
}

.footer{
  background-color: rgba(255, 36, 36, 0.5);
  height: 10vh;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.footer-contents h1{
  font-size: 1.2rem;
  padding: 4vh 0 0;
  font-weight: 300;
  color: rgba(255,255,255, 0.7);
}